<h1>Listing Topics</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Title</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @topics.each do |topic| %>
    <tr>
      <td><strong><%= topic.score %></strong></td>
      <td>&nbsp;&nbsp;&nbsp;</td>
      <td><%= topic.title %></td>
      <td><%= topic.description %></td>
      <td><%= pluralize(topic.votes.count, "vote") %></td>
      <td><%= button_to '+1', votes_path(topic_id: topic.id), method: :post %></td>
      <td><%= pluralize(topic.downvotes.count, "downvote") %></td>
      <td><%= button_to '-1', downvote_path(topic_id: topic.id), method: :patch %></td>
      <td><%= link_to 'Show', topic %></td>
      <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
      <td><%= link_to 'Destroy', topic, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Topic', new_topic_path %>
